# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# idea:
.idea/


## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

*/bin/*
*/obj/*

*.DS_Store

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
C-sharpModule/bin/
C-sharpModule/obj/
PluginLoadingTest/App.config
PluginLoadingTest/bin/
PluginLoadingTest/obj/
packages/BenchmarkDotNet.0.9.9/
packages/BenchmarkDotNet.Core.0.9.9/
packages/BenchmarkDotNet.TestDriven.0.9.9-develop/
packages/BenchmarkDotNet.Toolchains.Roslyn.0.9.9/
packages/Microsoft.CodeAnalysis.Analyzers.1.1.0/
packages/Microsoft.CodeAnalysis.CSharp.1.3.2/
packages/Microsoft.CodeAnalysis.Common.1.3.2/
packages/NBench.1.0.4/
packages/NUnit.3.7.1/
packages/NUnitBenchmarker.Benchmark.1.0.0.3/
packages/NUnitBenchmarker.Benchmark.1.1.0-unstable0092/
packages/System.AppContext.4.1.0/
packages/System.Collections.4.0.11/
packages/System.Collections.Concurrent.4.0.12/
packages/System.Collections.Immutable.1.2.0/
packages/System.Console.4.0.0/
packages/System.Diagnostics.Debug.4.0.11/
packages/System.Diagnostics.FileVersionInfo.4.0.0/
packages/System.Diagnostics.StackTrace.4.0.1/
packages/System.Diagnostics.Tools.4.0.1/
packages/System.Dynamic.Runtime.4.0.11/
packages/System.Globalization.4.0.11/
packages/System.IO.FileSystem.4.0.1/
packages/System.IO.FileSystem.Primitives.4.0.1/
packages/System.Linq.4.1.0/
packages/System.Linq.Expressions.4.1.0/
packages/System.Reflection.4.1.0/
packages/System.Reflection.Metadata.1.3.0/
packages/System.Reflection.Primitives.4.0.1/
packages/System.Resources.ResourceManager.4.0.1/
packages/System.Runtime.4.1.0/
packages/System.Runtime.Extensions.4.1.0/
packages/System.Runtime.Handles.4.0.1/
packages/System.Runtime.InteropServices.4.1.0/
packages/System.Runtime.Numerics.4.0.1/
packages/System.Security.Cryptography.Algorithms.4.2.0/
packages/System.Security.Cryptography.Encoding.4.0.0/
packages/System.Security.Cryptography.Primitives.4.0.0/
packages/System.Security.Cryptography.X509Certificates.4.1.0/
packages/System.Text.Encoding.4.0.11/
packages/System.Text.Encoding.CodePages.4.0.1/
packages/System.Text.Encoding.Extensions.4.0.11/
packages/System.Threading.4.0.11/
packages/System.Threading.Tasks.4.0.11/
packages/System.Threading.Tasks.Extensions.4.0.0/
packages/System.Threading.Tasks.Parallel.4.0.1/
packages/System.Threading.Thread.4.0.0/
packages/System.Xml.ReaderWriter.4.0.11/
packages/System.Xml.XDocument.4.0.11/
packages/System.Xml.XPath.4.0.1/
packages/System.Xml.XPath.XDocument.4.0.1/
packages/System.Xml.XmlDocument.4.0.1/
packages/TestDriven.Framework.2.0.0-alpha2/
